
@model Web.ViewModels.Admin.AdminHeaderNewOrdersViewModel

<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Manage/Orders/Index">New Orders: @Model.ItemsCount</a></li>
