################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/Pages/Admin/Manage/Fleet/Update.cshtml.cs
/Web/Pages/Admin/Manage/Fleet/Update.cshtml
