@model Web.ViewModels.User.MyOrdersDetailedItemViewModel

<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td style="white-space : pre-line">Vehicle: @if (Model.Vehicle != null) {@Model.Vehicle.Brand @Model.Vehicle.Model}
    Comments: @Model.Comments
</td>

