@page
@model Web.Pages.Order.OrderErrorModel
@{
    ViewData["Title"] = "Order error";
}

<div class="text-center">
    <h1 class="display-4">Order failed!</h1>
    <p>Try again</p>
    <form method="post">
        <button class="btn btn-success" type="submit">Go to Order</button>
    </form>
    
</div>
