@page
@model Web.Pages.Order.OrderConfirmationModel
@{
    ViewData["Title"] = "Order confirmation";
}

<div class="text-center">
    <h1 class="display-4">Order placed successfully!</h1>
    <p>Check status of your order in My Orders page.</p>
    <form method="post">
        <button class="btn btn-success" type="submit">Go to My Orders</button>
    </form>
    
</div>
