@page
@using Microsoft.AspNetCore.Identity;
@using Infrastructure.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
    @if(User.HasClaim("isAdmin", bool.TrueString))
    {
        <div class="text-center">
            <h2 class="display-4">Admin Panel</h2>
            <h4>Manage your Company</h4>
            <p><a  asp-area="" asp-page="/Admin/Manage/Fleet/Index">Manage Fleet</a></p>
            <p><a  asp-area="" asp-page="/Admin/Mange/Pricing/Index">Manage Pricing</a></p>
            <p><a  asp-area="" asp-page="/Fleet/Index">User Fleet View</a></p>
            <p><a asp-area="" asp-page="/Pricing/Index">User Pricing View</a></p>
        </div>
    }
    else
    {
        ApplicationUser user = await UserManager.GetUserAsync(User);
        <div class="text-center">
            <h2 class="display-4">Welcome @user.FirstName</h2>
            <p>To place an order select Order in the navigation bar.</p>
        </div>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>To place an order Login or Register.</p>
    </div>
}

