@page

@{
    ViewData["Title"] = "Register Succeeded";
}

<header>
    <h1>@ViewData["Title"]</h1>   
    <p></p>
    <p>You have successfully registered. Select Login to log in to application.</p>

</header>
